<div id="modalSetId-2" class="set-modal moyu-modal">
  <div class="mod-title">
    <div class="left">
      <span>摸鱼办</span>
    </div>
    <div id="closeModalId-2" class="right">
      <img src="./img/close.png" />
    </div>
  </div>
  <div  class="moyu-content-box">
    <p id="myTitleId"></p>
    <div id="toutiaoListId"></div>
  </div>
</div>

<style>
  .moyu-modal{
    background-color: #fff;
  }
  .moyu-modal .mod-title{
    border-bottom: solid 1px #ebebeb;
    background-color: #fff;
  }
  .moyu-content-box{
    overflow-y: auto;
    height: calc(100vh - 60px);
    padding: 10px;
  }
</style>